body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../Images/arena.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.overlay {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    padding-top: 140px; 
    padding-bottom: 80px;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-center {
    width: 65%; 
    background: rgba(0, 0, 0, 0.45); 
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px; 
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

    .logo {
    font-size: 26px;
    font-weight: bold;
    color: #00d4ff;
    letter-spacing: 2px;
}

.nav-center ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-center ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.2s;
}

.nav-center ul li a:hover {
    color: #00d4ff;
}
.hero-overlay {
    background:rgbaa(0,0,0,0.6);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero {
    background: url("Images/arena.png") no-repeat center center/cover;
    height: 60vh;
    position: relative;
}

.section {
    width: 80%;
    margin: auto;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 40px;
    color: white;
    box-shadow: 0 0 20px rgba(20, 148, 222, 0.4);
    border: 1px solid #00d4ff;
}

.section h2 {
    font-size: 32px;
    text-align: center;
    color: #00d4ff;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.section p {
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}

.offer-list {
    list-style: none;
    padding: 0;
}

.offer-list li {
    background: rgba(0, 212, 255, 0.3);
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.offer-list li:hover {
    background: rgba(0, 212, 255, 0.6);
    transform: translateX(5px);
}


.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 250px;
    background: rgba(0, 0, 0, 0.45);
    color: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-weight: bold;
    border: 6px solid rgba(255, 255, 255, 0.15);
    transition: 0.3s;
}

.card:hover {
    background: rgba(0, 212, 255, 0.3);
    transform: scale(1.05);
}


.contact {
    text-align: center;
}

.contact p {
    font-size: 18px;
    margin: 5px 0;
}  