body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../Images/arena.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.overlay {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    padding-bottom: 80px;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-center {
    width: 65%;
    background: rgba(0, 0, 0, 0.45); 
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 50px; 
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);

    border: 1px solid rgba(255, 255, 255, 0.15); 
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #00d4ff; 
    letter-spacing: 2px;
}

.nav-center ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-center ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.2s;
}

.nav-center ul li a:hover {
    color: #00d4ff;
}

header {
    padding-top: 150px;
    text-align: center;
    color: white;
    padding: 150px 20px 30px;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header h2 {
    font-size: 50px;
    margin: 10px 0;
}

header p {
    font-size: 22px;
    margin-top: 10px;
}

.gallery {
    padding: 60px 20px;
    text-align: center;
    color: white;
}

.gallery-title h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.gallery-title p {
    font-size: 22px;
    margin-top: 10px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
    margin-top: 40px;
}

.gallery-item {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
    padding-top: 60px;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #00d4ff;
    text-decoration: none;
    cursor: pointer;
}
