body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../Images/arena.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.overlay {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    padding-bottom: 80px;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-center {
    width: 65%; 
    background: rgba(0, 0, 0, 0.45); 
    backdrop-filter: blur(10px);
    padding: 15px 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 50px; 
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);

    border: 1px solid rgba(255, 255, 255, 0.15); 
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #00d4ff; 
    letter-spacing: 2px;
}

.nav-center ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-center ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.2s;
}

.nav-center ul li a:hover {
    color: #00d4ff;
}

header {
    padding-top: 150px;
    text-align: center;
    color: white;
    padding: 150px 20px 30px; 
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header h2 {
    font-size: 50px;
    margin: 10px 0;
}

header p {
    font-size: 22px;
    margin-top: 10px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 40px auto;
    max-width: 1100px;
}

.feature-card {
    width: 300px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    padding: 40px 20px;
    border-radius: 20px;
    text-align: center;
    color: white;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.18);
}

.feature-card img {
    width: 80px;
    margin-bottom: 15px;
}

.feature-card h3 {
    font-size: 26px;
    margin-bottom: 10px;
}

.feature-card p {
    font-size: 17px;
}

.button-area {
    text-align: center;
    margin-top: 40px;
}

.book-btn {
    padding: 18px 40px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background: #002f5e;
    color: white;
    transition: 0.3s;
}

.book-btn:hover {
    background: #004c9d;
}

footer {
    background-color: #111; 
    color: #fff; 
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 50px;
}

footer p {
    margin: 0;
    font-family: sans-serif;
}

