body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Images/arena.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.overlay {
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.55);
    padding-bottom: 80px;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-center {
    width: 65%;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    padding: 15px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 50px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.4);

    border: 1px solid rgba(255, 255, 255, 0.15);
}

.logo {
    font-size: 26px;
    font-weight: bold;
    color: #00d4ff;
    letter-spacing: 2px;
}

.nav-center ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-center ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.2s;
}

.nav-center ul li a:hover {
    color: #00d4ff;
}

h1 {
    font-size: 3em;
    margin-top: 120px;
    margin-bottom: 30px;
    color: #00d4ff;
    text-shadow: 0 0 10px #eae5eb;
    text-align: center;
    justify-items: left;
}

.pricing-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: auto;

}

.card {
    background: rgba(10, 0, 16, 0.7);
    border: 2px solid #00d4ff;
    border-radius: 25px;
    flex: 0 0 calc(33.33% - 30px);
    max-width: 300px;
    padding: 0px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: auto;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px #00d4ff;
    text-box: var(-0px);
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;

}


.price {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 15px #00d4ff;
}

.features {
    text-align: left;
    margin-bottom: 25px;
    line-height: normal;
    color: white;
}

.features li {
    margin-bottom: 10px;
}

.choose-btn {
    background-color: #00d4ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s, transform 0.3s;
}

.choose-btn:hover {
    background-color: #00b8cc;
    transform: scale(1.1s);
}

.most-popular {
    background-color: rgba(10, 0, 16, 0.7);
    border: 2px solid #00b8cc;
    position: relative;
    color: white;
}

.most-popular::before {
    content: "MOST POPULAR";
    position: absolute;
    top: -20px;
    left: 40%;
    transform: translateX(-30%);
    background-color: #00e6ff;
    color: white;
    padding: 5px 15px;
    font-size: 0.9em;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: #111;
    color: #fff; 
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    margin-top: 50px;
}

footer p {
    margin: 0;
    font-family: sans-serif;
}